[submodule "lang_narrow"]
	path = lang_narrow
	url = https://github.com/ayazhafiz/lang_narrow
[submodule "cor"]
	path = cor
	url = https://github.com/ayazhafiz/cor
[submodule "asti"]
	path = asti
	url = https://github.com/ayazhafiz/asti
