<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8" />
  <meta name="description" content="A compiler to TAL (Morrisett, et.al. 1998)." />
  <title>TAL Playground</title>

  <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" />
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .h100 {
      height: 100%;
    }
    .editor {
      overflow: hidden;
    }
    pre.inner {
      padding: 0;
      font-size: 100%;
      margin: 0;
    }
  </style>

  <script src="./tal.js?e94cbe684a4c5a4082b3b50c8efdc670dbae55a6"></script>
  <script src="./systemf.syntax.js?e94cbe684a4c5a4082b3b50c8efdc670dbae55a6"></script>
  <script src="./tal.syntax.js?e94cbe684a4c5a4082b3b50c8efdc670dbae55a6"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
</head>

<body>
  <article id="app" class="markdown-body h100">
    <div class="d-flex flex-row flex-justify-around h100">
      <div class="d-flex flex-column col-6 float-left pt-2 pb-4 px-6 h100">
        <div class="d-flex flex-row flex-justify-between flex-items-center">
          <div>
            <h1 class="d-inline-block">Input</h1>
            <a class="ml-3" href="https://github.com/ayazhafiz/plts/blob/base/TAL/parser.mly"
              >Language Grammar</a
            >
            <a class="ml-3" href="https://www.cs.princeton.edu/~dpw/papers/tal-toplas.pdf">Paper</a>
            <a class="ml-3" href="https://github.com/ayazhafiz/plts/tree/base/TAL">Source</a>
          </div>
          <div class="d-flex flex-row">
            <select class="form-select" v-model="backend" v-on:change="updateResult()">
              <option v-for="option in compileOptions" v-bind:value="option">{{ option }}</option>
            </select>
          </div>
        </div>
        <div id="playground" class="editor flex-1"></div>
      </div>
      <div class="col-6 float-left pt-2 pb-4 px-6 h100" id="output">
        <div class="d-flex flex-column flex-justify-around h100">
          <div id="error-compile" style="display: none">
            <h1 class="Subhead-heading--danger">Error</h1>
            <pre id="errormsg-compile"></pre>
          </div>
          <div id="results-compile" class="d-flex flex-column flex-auto">
            <div>
              <h1 class="d-inline-block">{{ compileTitle }}</h1>
              <details
                v-if="compileTitle==='x86'"
                class="details-reset position-relative ml-2 mb-0 d-inline-block"
              >
                <summary class="btn btn-outline">Codegen info</summary>
                <div class="Popover right-0 left-0">
                  <div
                    class="Popover-message Popover-message--large Popover-message--top-left p-4 mt-2 Box box-shadow-large"
                  >
                    Register allocation is based on the
                    <a href="http://web.cs.ucla.edu/~palsberg/course/cs132/linearscan.pdf"
                      >Linear Scan Register Allocation</a
                    >
                    of Poletto and Sarkar (1999). We number instructions as they appear in the TAL
                    IR, not in the order they would execute.
                    <br />This poor ordering is simple to implement but results in many spills, as
                    can be seen in the generated code. The large number of spills demands multiple
                    passes of register allocation, slowing down compilation time.
                    <br />
                    Spilled variables live at the very top of the stack, with space allocated for
                    them before any code is executed.
                  </div>
                </div>
              </details>
            </div>
            <div id="compilationEditor" class="editor flex-auto"></div>
          </div>
          <div id="error-eval" style="display: none">
            <h1 class="Subhead-heading--danger">Error</h1>
            <pre id="errormsg-eval"></pre>
          </div>
          <div id="results-eval" class="d-flex flex-column flex-1">
            <h1>{{ evalTitle }}</h1>
            <div id="execEditor" class="editor flex-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <script type="text/javascript">
    const DEFAULT_EXAMPLE = `
let $fib =
  (fix fib (n: int): int.
    if0 n then 0
    else if0 (n - 1) then 1   # n = 1
    else fib (n - 1) + fib (n - 2)) in
let $twice =
  (Λa. fix inf(f: a->a): a->a.
       fix inx(x: a): a.
         f (f x)) in
let $double =
  (fix double(n: int): int.
    ($twice<int>) (fix inx(x: int): int. x + n) 0) in
$double ($fib 8)
`.trim();
    const $ = document.querySelector.bind(document);

    const compileBackends = {
      TAL: ["TAL", talCompile, "TAL Execution", talEval],
      x86: ["x86", x86Compile, "x86 Emulation", x86Emulate],
    };
    let [compileTitle, compile, evalTitle, doeval] = compileBackends.TAL;

    function show(id) {
      $(id).setAttribute("style", "display: block");
    }
    function hide(id) {
      $(id).setAttribute("style", "display: none !important");
    }

    let update1 = undefined;
    function update(pg, compilationEditor, execEditor) {
      const input = pg.getValue();
      const { result: compiled, error: ecompile } = compile(input);
      const { result: evaled, error: eeval } = doeval(input);
      if (ecompile) {
        hide("#results-compile");
        show("#error-compile");
        $("#errormsg-compile").innerText = ecompile;
      } else {
        hide("#error-compile");
        show("#results-compile");
        compilationEditor.setValue(compiled);
      }

      if (eeval) {
        hide("#results-eval");
        show("#error-eval");
        $("#errormsg-eval").innerText = eeval;
      } else {
        hide("#error-eval");
        show("#results-eval");
        execEditor.setValue(evaled);
      }
    }

    const proxy = URL.createObjectURL(
      new Blob(
        [
          `self.MonacoEnvironment = { baseUrl: 'https://unpkg.com/monaco-editor@0.21.2/min/' };
           importScripts('https://unpkg.com/monaco-editor@0.21.2/min/vs/base/worker/workerMain.js');`,
        ],
        { type: "text/javascript" }
      )
    );
    require.config({ paths: { vs: "https://unpkg.com/monaco-editor@0.21.2/min/vs" } });
    window.MonacoEnvironment = {
      getWorkerUrl: () => proxy,
    };

    require(["vs/editor/editor.main"], function () {
      monaco.languages.register({ id: "tal" });
      monaco.languages.setMonarchTokensProvider("tal", talSyntax);
      monaco.languages.register({ id: "systemf" });

      // Register a tokens provider for the language
      monaco.languages.setMonarchTokensProvider("systemf", systemFSyntax);

      const opts = {
        theme: "vs",
        fontSize: "15px",
        padding: {},
        automaticLayout: true,
        formatOnType: true,
        formatOnPaste: true,
        autoIndent: true,
      };
      const pg = monaco.editor.create($("#playground"), {
        ...opts,
        value: DEFAULT_EXAMPLE,
        language: "systemf",
      });
      const compilationEditor = monaco.editor.create($("#compilationEditor"), {
        ...opts,
        language: "tal",
        value: "",
        readOnly: true,
      });
      const execEditor = monaco.editor.create($("#execEditor"), {
        ...opts,
        language: "tal",
        value: "",
        readOnly: true,
        minimap: { enabled: false },
      });
      update1 = () => update(pg, compilationEditor, execEditor);
      pg.onDidChangeModelContent(update1);
      update1();
    });

    new Vue({
      el: "#app",
      data: {
        compileOptions: Object.keys(compileBackends),
        backend: Object.keys(compileBackends)[0],
        compileTitle,
        evalTitle,
      },
      methods: {
        updateResult() {
          [this.compileTitle, compile, this.evalTitle, doeval] = compileBackends[this.backend];
          update1();
        },
      },
    });
  </script>
</body>
