<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8" />
  <meta name="description" content="Playground for typing the FT calculus (Pearce 2012)." />
  <title>FT Playground</title>

  <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css" />
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .h100 {
      height: 100%;
    }
    .editor {
      overflow: hidden;
    }
    pre.inner {
      padding: 0;
      font-size: 100%;
      margin: 0;
    }
  </style>

  <script src="./ft.js?0127b5ee22033ce772c16ffbd6954c7a1f362c74"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
</head>

<body>
  <article id="app" class="markdown-body h100">
    <div class="d-flex flex-row flex-justify-around h100">
      <div class="d-flex flex-column col-6 float-left pt-2 pb-4 px-6 h100">
        <div class="d-flex flex-row flex-justify-between flex-items-center">
          <h1>Input</h1>
          <div class="d-flex flex-row">
            <select class="form-select" v-model="backend" v-on:change="updateBackend()">
              {% raw %}
              <option v-for="option in backendOptions" v-bind:value="option">{{ option }}</option>
              {% endraw %}
            </select>
          </div>
        </div>
        <div id="playground" class="editor flex-1"></div>
      </div>
      <div class="col-6 float-left pt-2 pb-4 px-6 h100" id="output">
        <div id="results" class="d-flex flex-column flex-justify-around h100">
          <div class="d-flex flex-column flex-1">
            <h1 id="error-heading" class="Subhead-heading--danger" style="display: none !important">
              Error
            </h1>
            <h1 id="results-heading">{{ resultsTitle }}</h1>
            <div id="resultsEditor" class="editor flex-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <script type="text/javascript">
    const DEFAULT_EXAMPLE = `
fn f(x) = 
  if x is int then 1 else (0, 0)
in (f 1, f (1, 2))
`.trim();
    const $ = document.querySelector.bind(document);

    const backends = {
      "Infer and Typecheck": ["Annotations", (input) => ftCheck(input, true)],
      "Infer only": ["Annotations", ftInfer],
      "Typecheck only": ["Annotations", (input) => ftCheck(input, false)],
      "Subtyping Calculator": ["Result", subtypeCheck],
    };
    let backendExec = Object.values(backends)[0][1];

    let update1 = undefined;
    function update(pg, resultsEditor) {
      const input = pg.getValue();
      const { result, error } = backendExec(input);
      if (error === null) {
        $("#error-heading").setAttribute("style", "display: none !important");
        $("#results-heading").setAttribute("style", "display: block");
        resultsEditor.setValue(result);
      } else {
        $("#results-heading").setAttribute("style", "display: none !important");
        $("#error-heading").setAttribute("style", "display: block");
        resultsEditor.setValue(error);
      }
    }

    const proxy = URL.createObjectURL(
      new Blob(
        [
          `self.MonacoEnvironment = { baseUrl: 'https://unpkg.com/monaco-editor@0.21.2/min/' };
           importScripts('https://unpkg.com/monaco-editor@0.21.2/min/vs/base/worker/workerMain.js');`,
        ],
        { type: "text/javascript" }
      )
    );
    require.config({ paths: { vs: "https://unpkg.com/monaco-editor@0.21.2/min/vs" } });
    window.MonacoEnvironment = {
      getWorkerUrl: () => proxy,
    };

    require(["vs/editor/editor.main"], function () {
      const opts = {
        theme: "vs",
        fontSize: "15px",
        padding: {},
        automaticLayout: true,
        formatOnType: true,
        formatOnPaste: true,
        autoIndent: true,
      };
      const pg = monaco.editor.create($("#playground"), {
        ...opts,
        value: DEFAULT_EXAMPLE,
      });
      const resultsEditor = monaco.editor.create($("#resultsEditor"), {
        ...opts,
        value: "",
        readOnly: true,
        minimap: { enabled: false },
      });
      update1 = () => update(pg, resultsEditor);
      pg.onDidChangeModelContent(update1);
      update1();
    });

    new Vue({
      el: "#app",
      data: {
        backendOptions: Object.keys(backends),
        backend: Object.keys(backends)[0],
        resultsTitle: Object.values(backends)[0][0],
      },
      methods: {
        updateBackend() {
          [this.resultsTitle, backendExec] = backends[this.backend];
          update1();
        },
      },
    });
  </script>
</body>
